h1{
	text-align: center;
	padding-top: 15%;
	color: #696969;
	font-weight: 700px;
	font-size: 7em;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

h4{
	text-align: center;
	color: #696969;
}

