html, body {
  height:100%;
}
body {
  display:flex;
  align-items:center;
}

.minio h1{
	text-align: center;
	color: #696969;
	font-weight: 700px;
	font-size: 7em;
	font-family: 'Montserrat', sans-serif;
}

.minio h4{
    color: #696969;
    margin-left: 114px;
}

